<nav class="menu menu--closed ">
	<ul class="menu__primary">
		<% for (var m in theme.menu.primary) { %>
			<li class="menu__item"><a href="<%- url_for(theme.menu.primary[m]) %>"><%= m %></a></li>
		<% } %>
	</ul>
	<ul class="menu__secondary">
		<% for (var m in theme.menu.secondary) { %>
			<li class="menu__item"><a href="<%- url_for(theme.menu.secondary[m]) %>"><%= m %></a></li>
		<% } %>
	</ul>
	<ul class="menu__social">
		<% for (var m in theme.menu.social) { %>
		<li class="menu__item"><a target="_blank" href="<%- theme.menu.social[m].url %>" class="icon"><i class="fab fa-<%- theme.menu.social[m].icon %>"></i></a></li>
		<% } %>
		<% if (theme.rss.enabled) { %>
			<li class="menu__item"><a href="<%- theme.rss.url %>" class="icon"><i class="<%- theme.rss.icon %>"></i></a></li>
		<% } %>
	</ul>
</nav>
